In [1]:
#e1071
#klaR

### Classificação Naive Bayes

In [2]:
# install.packages("e1071", dependencies=T)
library(e1071)

In [3]:
credito = read.csv(file.choose(), sep=",", header=T) # credit.csv
fix(credito)
head(credito)

  checking_status duration credit_history                   purpose
1 <0               6       'critical/other existing credit' radio/tv
2 0<=X<200        48       'existing paid'                  radio/tv
3 'no checking'   12       'critical/other existing credit' education
4 <0              42       'existing paid'                  furniture/equipment
5 <0              24       'delayed previously'             'new car'
6 'no checking'   36       'existing paid'                  education
  credit_amount savings_status     employment installment_commitment
1 1169          'no known savings' >=7        4
2 5951          <100               1<=X<4     2
3 2096          <100               4<=X<7     2
4 7882          <100               4<=X<7     2
5 4870          <100               1<=X<4     3
6 9055          'no known savings' 1<=X<4     2
  personal_status      other_parties ... property_magnitude  age
1 'male single'        none          ... 'real estate'       67
2 'female div/dep/mar' none          ... 'real estate'       22
3 'male single'        none          ... 'real estate'       49
4 'male single'        guarantor     ... 'life insurance'    45
5 'male single'        none          ... 'no known property' 53
6 'male single'        none          ... 'no known property' 35
  other_payment_plans housing    existing_credits job
1 none                own        2                skilled
2 none                own        1                skilled
3 none                own        1                'unskilled resident'
4 none                'for free' 1                skilled
5 none                'for free' 2                skilled
6 none                'for free' 1                'unskilled resident'
  num_dependents own_telephone foreign_worker class
1 1              yes           yes            good
2 1              none          yes            bad
3 2              none          yes            good
4 2              none          yes            good
5 2              none          yes            bad
6 2              yes           yes            good

In [4]:
print(dim(credito))

[1] 1000   21

In [5]:
amostra = sample(2,1000,replace=T,prob=c(0.7,0.3))
print(amostra)

   [1] 1 1 1 1 1 1 1 2 2 1 1 1 1 1 2 1 1 2 2 1 1 1 1 1 1 1 1 1 2 1 1 2 1 1 1 1 2
  [38] 1 2 1 1 2 1 2 2 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 1 1 2 2 1 1 1 1 2 1 1 2
  [75] 1 1 1 2 2 1 2 1 1 1 1 1 1 2 1 2 2 1 1 1 1 2 2 1 2 2 1 1 1 2 1 2 2 1 1 1 1
 [112] 2 2 1 1 2 1 2 1 1 2 1 1 2 1 2 1 1 1 1 1 1 1 1 1 2 2 1 1 1 2 2 1 2 1 1 1 1
 [149] 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 2 1 1 1 1 1 1 1 2 1
 [186] 2 1 2 1 1 2 1 1 2 1 2 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 2 1 1 1 1 2 1 1 1 1 1
 [223] 1 1 1 1 2 1 1 1 2 1 2 1 1 1 1 1 1 1 1 2 1 1 1 2 2 2 2 2 1 1 1 1 2 1 1 2 1
 [260] 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 1 2 2 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1
 [297] 1 2 1 1 1 1 1 1 2 1 1 2 2 1 2 2 2 1 1 1 2 1 1 2 1 1 1 2 1 1 2 1 1 2 2 2 1
 [334] 1 1 1 2 1 1 2 1 1 1 1 1 1 2 1 1 1 1 2 2 1 2 1 1 1 2 1 1 1 1 1 2 2 2 2 1 1
 [371] 1 1 2 1 1 2 2 1 1 2 1 2 1 1 1 1 1 1 1 2 1 2 2 1 1 1 1 2 1 1 1 1 1 1 2 2 1
 [408] 1 1 1 2 1 2 1 1 1 1 1 1 1 2 1 1 2 2 2 1 1 2 1 2 1 2 1 2 2 1 1 2 2 1 1 1 1
 [445] 1 1 2 1 2 2 1 1 1 1 1 1 2 1 2 1 2 2 1 1 1 1 1 2 2 1 1 2 2 1 1 1 1 1 1 2 2
 [482] 2 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 1 1 2 1 1 1 1 1 2 1 2 1 1 2 2 1 1 1
 [519] 1 1 1 2 1 2 1 1 1 1 2 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1
 [556] 2 1 1 2 1 1 1 1 1 2 1 1 1 1 2 1 1 2 1 1 1 2 2 1 1 2 2 2 1 1 1 1 1 1 1 1 2
 [593] 1 1 2 1 1 1 2 1 1 1 1 2 1 1 1 1 2 2 2 1 1 1 1 1 1 1 1 2 2 1 1 1 1 1 1 1 1
 [630] 1 1 2 1 2 1 1 2 1 2 2 1 1 2 1 1 1 1 1 1 2 1 1 2 2 1 2 1 2 1 1 1 1 2 1 1 1
 [667] 1 1 2 1 2 2 1 1 1 1 1 1 1 1 2 2 2 2 1 1 1 1 2 2 2 1 2 1 2 1 2 2 1 1 1 1 2
 [704] 1 1 1 1 1 1 1 2 1 1 1 1 1 2 2 1 1 1 1 1 2 2 1 1 2 1 2 1 1 1 1 2 1 1 1 1 2
 [741] 2 1 1 1 1 2 1 1 1 1 1 1 2 1 1 2 2 2 2 1 1 1 1 2 1 2 2 1 1 1 2 1 1 1 1 2 1
 [778] 1 1 2 1 1 2 2 1 2 1 2 1 1 2 1 1 1 1 2 1 2 1 2 1 1 2 1 2 2 1 1 1 1 1 1 1 1
 [815] 2 1 1 1 1 1 1 2 2 1 1 1 1 1 1 1 2 1 2 1 2 1 1 1 1 2 1 1 1 1 1 1 2 1 1 1 2
 [852] 1 1 1 1 1 2 1 1 1 2 1 2 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [889] 2 1 1 1 2 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 1 2 1 1
 [926] 2 2 1 1 1 2 1 1 1 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 2 2 2 1 1 1 1 2 1 1 2 1
 [963] 2 2 1 1 2 2 1 1 1 2 2 2 1 1 2 2 1 1 1 1 2 1 2 1 1 2 1 1 1 1 1 1 1 2 1 2 1
[1000] 1

In [6]:
length(amostra[amostra==1])
length(amostra[amostra==2])

[1] 726

[1] 274

In [7]:
creditotreino = credito[amostra==1,]
creditoteste = credito[amostra==2,]
dim(creditotreino)
dim(creditoteste)

[1] 726  21

[1] 274  21

In [8]:
modelo = naiveBayes(class ~ . , creditotreino)
modelo

Naive Bayes Classifier for Discrete Predictors

Call:
naiveBayes.default(x = X, y = Y, laplace = laplace)

A-priori probabilities:
Y
      bad      good
0.2906336 0.7093664

Conditional probabilities:
      checking_status
Y      'no checking'         <0      >=200   0<=X<200
  bad     0.13744076 0.44075829 0.04265403 0.37914692
  good    0.50097087 0.20194175 0.06796117 0.22912621

      duration
Y          [,1]     [,2]
  bad  25.30806 13.52546
  good 19.49126 11.24460

      credit_history
Y      'all paid' 'critical/other existing credit' 'delayed previously'
  bad  0.08530806                       0.16587678           0.10426540
  good 0.03689320                       0.35533981           0.08737864
      credit_history
Y      'existing paid' 'no credits/all paid'
  bad       0.54502370            0.09952607
  good      0.50097087            0.01941748

      purpose
Y      'domestic appliance'   'new car'  'used car'    business   education
  bad           0.014218009 0.317535545 0.056872038 0.113744076 0.066350711
  good          0.011650485 0.207766990 0.132038835 0.083495146 0.042718447
      purpose
Y      furniture/equipment       other    radio/tv     repairs  retraining
  bad          0.194312796 0.014218009 0.194312796 0.023696682 0.004739336
  good         0.166990291 0.011650485 0.310679612 0.021359223 0.011650485

      credit_amount
Y          [,1]     [,2]
  bad  3887.621 3495.517
  good 3056.913 2514.872

      savings_status
Y      'no known savings'       <100     >=1000 100<=X<500 500<=X<1000
  bad          0.10426540 0.72985782 0.01421801 0.11848341  0.03317536
  good         0.21941748 0.53980583 0.06019417 0.09514563  0.08543689

      employment
Y              <1        >=7     1<=X<4     4<=X<7 unemployed
  bad  0.23696682 0.21800948 0.34597156 0.13270142 0.06635071
  good 0.13786408 0.29126214 0.33398058 0.19029126 0.04660194

      installment_commitment
Y          [,1]     [,2]
  bad  3.184834 1.081867
  good 2.955340 1.134850

      personal_status
Y      'female div/dep/mar' 'male div/sep' 'male mar/wid' 'male single'
  bad            0.34597156     0.05687204     0.09478673    0.50236967
  good           0.28349515     0.04271845     0.09320388    0.58058252

      other_parties
Y      'co applicant'  guarantor       none
  bad      0.04265403 0.03317536 0.92417062
  good     0.03106796 0.06213592 0.90679612

      residence_since
Y          [,1]     [,2]
  bad  2.872038 1.081324
  good 2.866019 1.112150

      property_magnitude
Y      'life insurance' 'no known property' 'real estate'       car
  bad         0.2369668           0.2274882     0.2085308 0.3270142
  good        0.2291262           0.1300971     0.3067961 0.3339806

      age
Y          [,1]     [,2]
  bad  34.06635 11.68456
  good 36.30097 11.13259

      other_payment_plans
Y            bank       none     stores
  bad  0.18957346 0.74407583 0.06635071
  good 0.11456311 0.83883495 0.04660194

      housing
Y      'for free'        own       rent
  bad  0.16113744 0.60189573 0.23696682
  good 0.09514563 0.75339806 0.15145631

      existing_credits
Y          [,1]      [,2]
  bad  1.369668 0.5570581
  good 1.425243 0.5748826

      job
Y      'high qualif/self emp/mgmt' 'unemp/unskilled non res'
  bad                   0.16587678                0.01895735
  good                  0.15339806                0.01165049
      job
Y      'unskilled resident'    skilled
  bad            0.21327014 0.60189573
  good           0.20582524 0.62912621

      num_dependents
Y          [,1]      [,2]
  bad  1.180095 0.3851802
  good 1.161165 0.3680406

      own_telephone
Y           none       yes
  bad  0.6350711 0.3649289
  good 0.5650485 0.4349515

      foreign_worker
Y               no         yes
  bad  0.004739336 0.995260664
  good 0.046601942 0.953398058

In [9]:
predicao = predict(modelo, creditoteste)
print(predicao)

  [1] bad  good bad  bad  bad  good bad  bad  good good good bad  good good good
 [16] good good good bad  good bad  good bad  bad  good bad  good good good good
 [31] bad  good bad  bad  good good good good good good good good bad  good good
 [46] good good good good good good good good good bad  good good bad  bad  good
 [61] good good good good good good good good bad  good good bad  good good good
 [76] good bad  good good bad  good good good good good good good good good good
 [91] good good good good good good bad  good good bad  good bad  good good bad
[106] good good bad  good good good good good good good good good good good good
[121] good good bad  bad  bad  good good good bad  good good good good bad  good
[136] good good bad  good good good good good good good good good bad  good good
[151] good good bad  good bad  good good good good good good good good good good
[166] good good bad  good good bad  good good good bad  good bad  good good bad
[181] bad  good good good good good good good good good good good good good good
[196] good good good good good good good bad  good good bad  bad  good good bad
[211] good good good bad  good bad  good good good good bad  good good good good
[226] good good good bad  bad  bad  good bad  good bad  good good good good good
[241] good good good good good good good bad  good bad  bad  bad  good bad  good
[256] good good good good good good good good good good bad  bad  good good good
[271] good good good good
Levels: bad good

In [10]:
summary(predicao)

 bad good
  62  212

In [11]:
confusao = table(creditoteste$class, predicao)
confusao

      predicao
       bad good
  bad   40   49
  good  22  163

In [12]:
taxaacerto = (confusao[1] + confusao[4]) / sum(confusao)
taxaacerto

[1] 0.7408759

In [13]:
taxaerro = (confusao[2] + confusao[3]) / sum(confusao)
taxaerro

# taxaerro = 1 - taxaacerto

[1] 0.2591241

In [14]:
novocredito = read.csv(file.choose(), sep=",", header=T)
fix(novocredito)
novocredito

  checking_status duration credit_history  purpose  credit_amount
1 'no checking'   12       'existing paid' radio/tv 804
  savings_status employment installment_commitment personal_status
1 <100           >=7        4                      'male single'
  other_parties residence_since property_magnitude age other_payment_plans
1 none          4               car                38  none
  housing existing_credits job     num_dependents own_telephone foreign_worker
1 own     1                skilled 1              none          yes

In [15]:
print(dim(novocredito))

[1]  1 20

In [16]:
predict(modelo, novocredito)

[1] good
Levels: bad good