### Classificação Máquina de Vetores de Suporte - Support Vector Machine

In [1]:
# install.packages("e1071", dependencies=T)
library(e1071)

In [2]:
credito = read.csv(file.choose(), sep=",", header=T) # credit.csv
fix(credito)
head(credito)

  checking_status duration credit_history                   purpose
1 <0               6       'critical/other existing credit' radio/tv
2 0<=X<200        48       'existing paid'                  radio/tv
3 'no checking'   12       'critical/other existing credit' education
4 <0              42       'existing paid'                  furniture/equipment
5 <0              24       'delayed previously'             'new car'
6 'no checking'   36       'existing paid'                  education
  credit_amount savings_status     employment installment_commitment
1 1169          'no known savings' >=7        4
2 5951          <100               1<=X<4     2
3 2096          <100               4<=X<7     2
4 7882          <100               4<=X<7     2
5 4870          <100               1<=X<4     3
6 9055          'no known savings' 1<=X<4     2
  personal_status      other_parties ... property_magnitude  age
1 'male single'        none          ... 'real estate'       67
2 'female div/dep/mar' none          ... 'real estate'       22
3 'male single'        none          ... 'real estate'       49
4 'male single'        guarantor     ... 'life insurance'    45
5 'male single'        none          ... 'no known property' 53
6 'male single'        none          ... 'no known property' 35
  other_payment_plans housing    existing_credits job
1 none                own        2                skilled
2 none                own        1                skilled
3 none                own        1                'unskilled resident'
4 none                'for free' 1                skilled
5 none                'for free' 2                skilled
6 none                'for free' 1                'unskilled resident'
  num_dependents own_telephone foreign_worker class
1 1              yes           yes            good
2 1              none          yes            bad
3 2              none          yes            good
4 2              none          yes            good
5 2              none          yes            bad
6 2              yes           yes            good

In [3]:
print(dim(credito))

[1] 1000   21

In [4]:
amostra = sample(2,1000,replace=T,prob=c(0.7,0.3))
print(amostra)

   [1] 1 2 1 2 2 2 1 1 2 2 1 2 1 2 1 2 2 2 2 1 1 1 1 1 1 1 2 2 1 2 2 1 2 2 1 1 1
  [38] 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 2 2 1 1 1 1 2 2 1 1 2 1 2 2 1 2 2 2 1 1
  [75] 1 1 1 1 1 2 1 1 2 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 2 1 1 1 1 2 1
 [112] 1 1 2 1 1 1 1 1 1 2 2 1 1 1 1 1 1 2 2 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 1
 [149] 1 2 2 2 1 2 1 1 1 2 1 1 2 1 1 1 2 1 1 2 2 2 2 2 1 2 1 2 1 2 1 1 2 2 1 1 1
 [186] 1 2 1 2 1 1 1 2 1 2 1 1 1 1 1 1 2 1 1 1 2 1 1 2 1 1 2 1 1 1 1 1 2 1 1 1 1
 [223] 1 2 1 1 2 2 2 1 1 1 1 1 1 2 1 1 1 2 1 1 1 2 1 2 1 1 1 1 1 1 1 2 1 2 1 2 1
 [260] 1 1 1 1 1 1 2 1 1 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 2 2 1 2 1 1 2 1 2 1 1 1 1
 [297] 1 2 2 1 2 1 1 2 1 2 2 1 1 1 1 2 1 2 1 1 1 2 2 1 1 1 1 2 1 2 1 1 1 1 2 2 1
 [334] 1 1 1 1 1 2 1 1 1 1 1 2 2 1 2 2 1 1 1 1 1 1 2 1 1 1 2 1 1 2 1 1 2 1 2 1 1
 [371] 1 1 1 1 1 1 1 1 1 1 1 2 2 1 2 1 1 2 1 1 1 1 1 1 1 2 1 2 1 2 2 1 1 1 2 1 1
 [408] 2 1 1 1 1 1 1 1 2 1 2 1 2 2 1 1 1 1 2 2 1 1 2 1 2 1 1 1 1 1 2 1 1 1 2 1 1
 [445] 1 2 1 1 1 1 1 1 2 1 1 1 1 2 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 2 1 2 2 2 2 2 1
 [482] 1 1 1 1 1 2 1 1 1 1 1 2 2 2 2 1 1 2 1 1 1 1 1 2 2 1 2 1 2 2 1 1 1 1 1 2 2
 [519] 1 1 2 1 1 1 1 1 1 1 1 2 2 1 2 2 1 1 1 2 1 1 1 2 2 2 1 1 2 1 1 2 2 2 1 1 2
 [556] 2 1 1 2 2 1 1 1 2 2 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 2 1 1 1 1 2 1
 [593] 1 1 2 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 2 1 2 1 1 2 2 1 2 2 1 2 1 2 2 1 1
 [630] 1 1 1 1 2 1 2 1 1 1 1 1 1 2 2 1 1 2 2 1 1 1 1 1 2 2 1 1 2 2 1 2 1 1 2 1 1
 [667] 2 1 1 1 1 2 1 1 1 1 2 1 1 1 2 1 2 2 1 2 2 2 1 1 1 1 2 1 2 1 2 1 1 1 1 1 1
 [704] 2 1 1 1 1 1 2 1 2 2 1 1 1 1 1 2 1 1 1 1 2 1 1 1 2 2 2 1 1 1 2 1 2 1 1 1 2
 [741] 2 1 1 2 1 1 2 1 2 2 1 1 1 1 2 1 1 1 2 2 1 2 2 1 1 2 2 1 1 1 1 2 1 1 1 1 1
 [778] 2 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1
 [815] 1 2 2 1 2 2 1 1 1 2 1 1 2 1 1 1 1 1 2 2 1 1 1 1 1 1 1 2 2 1 1 1 1 1 2 1 1
 [852] 2 1 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 2 2 2 1 2 1 1 2 2 1 1 1 2 1 1
 [889] 2 1 1 2 1 1 1 1 1 1 1 2 2 1 1 2 1 2 1 1 2 1 1 2 2 1 1 1 1 2 2 1 1 1 1 1 2
 [926] 2 2 2 1 1 2 2 1 1 1 2 1 1 2 1 1 2 1 1 1 2 1 2 1 1 1 1 1 2 1 1 2 1 1 1 1 1
 [963] 1 1 1 1 1 1 1 1 1 2 1 1 1 2 1 1 1 1 1 1 1 2 2 1 2 1 2 1 1 1 1 2 1 1 2 1 1
[1000] 1

In [5]:
length(amostra[amostra==1])
length(amostra[amostra==2])

[1] 703

[1] 297

In [6]:
creditotreino = credito[amostra==1,]
creditoteste = credito[amostra==2,]
dim(creditotreino)
dim(creditoteste)

[1] 703  21

[1] 297  21

In [7]:
modelo = svm(class ~ . , creditotreino)
modelo

Call:
svm(formula = class ~ ., data = creditotreino)


Parameters:
   SVM-Type:  C-classification
 SVM-Kernel:  radial
       cost:  1

Number of Support Vectors:  431

In [8]:
summary(modelo)

Call:
svm(formula = class ~ ., data = creditotreino)


Parameters:
   SVM-Type:  C-classification
 SVM-Kernel:  radial
       cost:  1

Number of Support Vectors:  431

 ( 226 205 )


Number of Classes:  2

Levels:
 bad good

In [9]:
predicao = predict(modelo, creditoteste)
print(predicao)

   2    4    5    6    9   10   12   14   16   17   18   19   27   28   30   31
 bad good good good good  bad  bad good good good  bad  bad good good  bad good
  33   34   42   44   55   56   61   62   65   67   68   70   71   72   80   83
good good good good good good good good good good good good good good good good
  88   97  103  105  110  114  121  122  129  130  135  137  150  151  152  154
good good good good good good good good good good good good good good good good
 158  161  165  168  169  170  171  172  174  176  178  181  182  187  189  193
good good good good good good  bad good good good good good good good good good
 195  202  206  209  212  218  224  227  228  229  236  240  244  246  254  256
 bad good good  bad good good good good good good  bad good good good good good
 258  266  272  275  284  285  287  290  292  298  299  301  304  306  307  312
good good good  bad good good  bad good good good good good good good good good
 314  318  319  324  326  331  332  339  345  346  348  349  356  360  363  366
good good good good good good good  bad good good good good good  bad good good
 368  382  383  385  388  396  398  400  401  405  408  416  418  420  421  426
good good good good good good good good good good good good  bad good good good
 427  430  432  438  442  446  453  458  463  474  476  477  478  479  480  487
good good good good good good good good good good  bad good good good good good
 493  494  495  496  499  505  506  508  510  511  517  518  521  530  531  533
good good good good good  bad good good good good good good good good good good
 534  538  542  543  544  547  550  551  552  555  556  559  560  564  565  568
good good good good good good good good good good good good good good good good
 580  586  591  595  603  612  613  615  618  619  621  622  624  626  627  634
good good good good  bad good good good good good good good  bad good good good
 636  643  644  647  648  654  655  658  659  661  664  667  672  677  681  683
good good good  bad good good good good  bad good good good good good good good
 684  686  687  688  693  695  697  704  710  712  713  719  724  728  729  730
good  bad good good good good good good good good good good good  bad  bad good
 734  736  740  741  744  747  749  750  755  759  760  762  763  766  767  772
good good  bad good good  bad good good good good good good good good  bad  bad
 778  791  803  816  817  819  820  824  827  833  834  842  843  849  852  854
good good good  bad good  bad good good good  bad good good good good good  bad
 860  869  874  875  876  878  881  882  886  889  892  900  901  904  906  909
good good good good good good good good good good good good good good good good
 912  913  918  919  925  926  927  928  931  932  936  939  942  946  948  954
good good good good good good  bad  bad good good good  bad good  bad good  bad
 957  972  976  984  985  987  989  994  997
good good good good good  bad  bad  bad  bad
Levels: bad good

In [10]:
summary(predicao)

 bad good
  41  256

In [11]:
confusao = table(creditoteste$class, predicao)
confusao

      predicao
       bad good
  bad   23   70
  good  18  186

In [12]:
taxaacerto = (confusao[1] + confusao[4]) / sum(confusao)
taxaacerto

[1] 0.7037037

### Seleção de atributos

In [13]:
# install.packages("FSelector", dependencies = T)
library(FSelector)

In [14]:
random.forest.importance(class ~ . , credito)

                       attr_importance
checking_status        48.584103
duration               26.356143
credit_history         23.287291
purpose                13.336346
credit_amount          19.637155
savings_status         14.424207
employment              7.651239
installment_commitment  6.698175
personal_status         4.206503
other_parties          12.122911
residence_since         6.282469
property_magnitude     11.096150
age                    11.753640
other_payment_plans    11.684920
housing                 5.985653
existing_credits        7.278236
job                     3.722250
num_dependents          1.711549
own_telephone           3.269847
foreign_worker          2.574737

### Melhorando modelo

In [15]:
modelo = svm(class ~ checking_status + duration + credit_history + purpose, creditotreino)
summary(modelo)

Call:
svm(formula = class ~ checking_status + duration + credit_history +
    purpose, data = creditotreino)


Parameters:
   SVM-Type:  C-classification
 SVM-Kernel:  radial
       cost:  1

Number of Support Vectors:  409

 ( 209 200 )


Number of Classes:  2

Levels:
 bad good

In [16]:
predicao = predict(modelo, creditoteste)
print(predicao)

   2    4    5    6    9   10   12   14   16   17   18   19   27   28   30   31
 bad  bad  bad good good good  bad good good good  bad good good good  bad good
  33   34   42   44   55   56   61   62   65   67   68   70   71   72   80   83
good good good good good good good good good good good good good good good good
  88   97  103  105  110  114  121  122  129  130  135  137  150  151  152  154
 bad good good good good good good good good good good good good good good good
 158  161  165  168  169  170  171  172  174  176  178  181  182  187  189  193
good good good good good good  bad good good good good good good good good good
 195  202  206  209  212  218  224  227  228  229  236  240  244  246  254  256
 bad good good good good good good  bad good good good  bad good good good good
 258  266  272  275  284  285  287  290  292  298  299  301  304  306  307  312
good good good  bad good good  bad good good good good good good good good good
 314  318  319  324  326  331  332  339  345  346  348  349  356  360  363  366
good good good good good good good good good good good good good  bad good good
 368  382  383  385  388  396  398  400  401  405  408  416  418  420  421  426
good good good good good good good good good good good good good good good good
 427  430  432  438  442  446  453  458  463  474  476  477  478  479  480  487
good good good good good good good good good good  bad good good good good good
 493  494  495  496  499  505  506  508  510  511  517  518  521  530  531  533
good good good good good  bad good good good good good good good good  bad good
 534  538  542  543  544  547  550  551  552  555  556  559  560  564  565  568
good good good  bad good good good good good good good  bad good  bad good good
 580  586  591  595  603  612  613  615  618  619  621  622  624  626  627  634
good good good good good good good good good good good good good good good good
 636  643  644  647  648  654  655  658  659  661  664  667  672  677  681  683
good good good  bad good good good good  bad good good good good good good good
 684  686  687  688  693  695  697  704  710  712  713  719  724  728  729  730
good  bad good good good good good good good good good good good good  bad good
 734  736  740  741  744  747  749  750  755  759  760  762  763  766  767  772
good good  bad  bad  bad good good good good good good good good good  bad  bad
 778  791  803  816  817  819  820  824  827  833  834  842  843  849  852  854
good good good good good  bad good good good  bad good good good good good  bad
 860  869  874  875  876  878  881  882  886  889  892  900  901  904  906  909
good good good good good good good good good good good good good good good good
 912  913  918  919  925  926  927  928  931  932  936  939  942  946  948  954
good good good good  bad good good  bad good good good  bad good  bad good good
 957  972  976  984  985  987  989  994  997
good good good  bad good  bad good  bad good
Levels: bad good

In [17]:
summary(predicao)

 bad good
  39  258

In [18]:
confusao = table(creditoteste$class, predicao)
confusao

      predicao
       bad good
  bad   25   68
  good  14  190

In [19]:
taxaacerto2 = (confusao[1] + confusao[4]) / sum(confusao)
taxaacerto2

[1] 0.7239057