In [1]:
import pandas as pd
from apyori import apriori

In [2]:
dados = pd.read_csv("transacoes.txt", header=None)
dados

         0        1        2
0  Cerveja    Pizza  Sorvete
1    Pizza  Sorvete      NaN
2  Cerveja    Pizza      NaN
3  Cerveja    Pizza  Sorvete
4  Cerveja    Pizza      NaN
5    Pizza      NaN      NaN

In [3]:
dados.values

array([['Cerveja', 'Pizza', 'Sorvete'],
       ['Pizza', 'Sorvete', nan],
       ['Cerveja', 'Pizza', nan],
       ['Cerveja', 'Pizza', 'Sorvete'],
       ['Cerveja', 'Pizza', nan],
       ['Pizza', nan, nan]], dtype=object)

In [4]:
transacoes = []
for i in range(6):
    transacoes.append([str(dados.values[i,j]) for j in range(3)])

In [5]:
transacoes

[['Cerveja', 'Pizza', 'Sorvete'],
 ['Pizza', 'Sorvete', 'nan'],
 ['Cerveja', 'Pizza', 'nan'],
 ['Cerveja', 'Pizza', 'Sorvete'],
 ['Cerveja', 'Pizza', 'nan'],
 ['Pizza', 'nan', 'nan']]

In [6]:
regras = apriori(transacoes, min_support=0.5, min_confidence=0.5)
regras

In [7]:
resultados = list(regras)
for i in resultados:
    print(i,"\n")

RelationRecord(items=frozenset({'Cerveja'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Cerveja'}), confidence=0.6666666666666666, lift=1.0)])

RelationRecord(items=frozenset({'Pizza'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Pizza'}), confidence=1.0, lift=1.0)])

RelationRecord(items=frozenset({'Sorvete'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sorvete'}), confidence=0.5, lift=1.0)])

RelationRecord(items=frozenset({'nan'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nan'}), confidence=0.6666666666666666, lift=1.0)])

RelationRecord(items=frozenset({'Cerveja', 'Pizza'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Cerveja'}), items_add=frozenset({'Pizza'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'Pizza'}), items_add=frozenset({'Cerveja'}), confidence=0.6666666666666666, lift=1.0)])

RelationRecord(items=frozenset({'Pizza', 'Sorvete'}), support=0.5, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Pizza'}), items_add=frozenset({'Sorvete'}), confidence=0.5, lift=1.0), OrderedStatistic(items_base=frozenset({'Sorvete'}), items_add=frozenset({'Pizza'}), confidence=1.0, lift=1.0)])

RelationRecord(items=frozenset({'nan', 'Pizza'}), support=0.6666666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Pizza'}), items_add=frozenset({'nan'}), confidence=0.6666666666666666, lift=1.0), OrderedStatistic(items_base=frozenset({'nan'}), items_add=frozenset({'Pizza'}), confidence=1.0, lift=1.0)])

In [8]:
resultados2 = []

for i in range(len(resultados)):
    resultados2.append([list(x) for x in resultados[i][2]])

resultados3 = []

for i in resultados2:
    for j in i:
        resultados3.append(str(j))

resultados4 = []

for i in resultados3:
    resultados4.append(i\
          .replace("[frozenset()","")
          .replace("frozenset({'","")
          .replace("[","")
          .replace("'})","")
          .replace("]","")         
          .replace("[frozenset({'","")         
          .replace("frozenset({'","")         
         )

resultados4

[', Cerveja, 0.6666666666666666, 1.0',
 ', Pizza, 1.0, 1.0',
 ', Sorvete, 0.5, 1.0',
 ', nan, 0.6666666666666666, 1.0',
 'Cerveja, Pizza, 1.0, 1.0',
 'Pizza, Cerveja, 0.6666666666666666, 1.0',
 'Pizza, Sorvete, 0.5, 1.0',
 'Sorvete, Pizza, 1.0, 1.0',
 'Pizza, nan, 0.6666666666666666, 1.0',
 'nan, Pizza, 1.0, 1.0']

In [9]:
resultados5 = []

for i in resultados4:
    resultados5.append(i.split(", "))

pd.DataFrame(resultados5)

         0        1                   2    3
0           Cerveja  0.6666666666666666  1.0
1             Pizza                 1.0  1.0
2           Sorvete                 0.5  1.0
3               nan  0.6666666666666666  1.0
4  Cerveja    Pizza                 1.0  1.0
5    Pizza  Cerveja  0.6666666666666666  1.0
6    Pizza  Sorvete                 0.5  1.0
7  Sorvete    Pizza                 1.0  1.0
8    Pizza      nan  0.6666666666666666  1.0
9      nan    Pizza                 1.0  1.0